certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.3
Deprecated==1.2.13
et-xmlfile==1.1.0
idna==2.7
importlib-metadata==4.10.0
lxml==4.7.1
openpyxl==3.0.9
pymongo==4.0.1
PyMySQL==1.0.2
redis==4.0.2
requests==2.20.0
typing_extensions==4.0.1
urllib3==1.24.3
wrapt==1.13.3
zipp==3.6.0
